body{
    width: 100%;
    background-image:url(../asset/img/bg.jpg);

}
.gaugeframebg{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}
.stop{
    position: absolute;
    bottom: 0;
    margin: 10%;
}

/*compass*/
.compassWrapper{
    position: absolute;
    top:0;
    left:0;
    width: 100%
}

.compassrotator{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}
.compasscenter{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}
.centerstatic{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}




/*altitudemeter*/
.altitudeWrapper{
    position: absolute;
    top:30%;
    left:0;
    width: 100%
}


.altitudemoving{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}
.altitudestaticouter{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}
.altitudestatic{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}



/*speedometerWrapper*/
.speedometerWrapper{
    position: absolute;
    top:60%;
    left:0;
    width: 100%
}


.speedometerstaticbg{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}
.speedometerpointer{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}
