body{
    width: 100%;
    background-image:url(../asset/img/bg.jpg);
    overflow: hidden;

}

.stop{
    position: absolute;
    bottom: 0;
    margin: 10%;
}

/*compass*/
.gaugeframebg, .compassWrapper, .compassrotator, .compasscenter, .centerstatic, .attitudeWrapper, .attitudemoving,
.attitudestaticouter, .attitudestatic, .speedometerWrapper, .speedometerstaticbg, .speedometerpointer,
.altitudeWrapper,.altitudedisk, .altitudetaticbg, .altitudepointershort, .altitudepointerlong,
.varioWrapper, .variostaticbg, .variopointer
{
    position: absolute;
    top:0;
    left:0;
    width: 66%;
}

.compassWrapper{

}
.attitudeWrapper{
    top:30%;
}
.speedometerWrapper{
    top:60%;
}
.altitudeWrapper{

    left:50%;
}
.varioWrapper{
    top:30%;
    left:50%;
 }
